body{
  margin:0;
}
a {
  color: black;
  text-decoration: none;
}
h1 {
  font-size: 45px;
  text-align: center;
  border-bottom:1px solid gray;
  margin:0;
  padding:15px
}
ul{
  border-right:1px solid gray;
  width:150px;
  margin:0;
  padding:20px;
}
#grid{
  display: grid;
  grid-template-columns: 200px 1fr;
}
#grid ul{
  padding-left: 35px;
}
#article{
  padding-left: 20px;
}
